.container {
  border-radius: 2px;
  height: 13%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  button {
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    height: 48px;
    border-radius: 2px;
  }

  #tips {
    color: #165c7d;
    border: 1px solid #165c7d;
  }

  #new-admission {
    color: #fff;
    margin-right: 20px;
    padding: 13px 25px;
    background: #165c7d;
  }

  @media screen and (max-width: 768px) {
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: auto;
    #tips,
    #new-admission {
      width: 100%;
      margin: 0;
    }

    #new-admission {
      margin-bottom: 10px;
    }
  }
}
