<div class="container">
  <mat-stepper #stepper [linear]="true" labelPosition="bottom" class="stepper">
    <mat-step class="step">
      <ng-template matStepLabel>Inicio</ng-template>
      <div class="teste">
        <ng-content />
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Documentos</ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Dados cadastrais</ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Admissão</ng-template>
    </mat-step>
  </mat-stepper>
</div>
