.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;

  h2 {
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #101213;
  }

  p {
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #4f575e;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    label {
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;

      color: #040f14;
    }

    .search-button {
      width: 172px;
      height: 34px;
      background: #165c7d;
      border-radius: 2px;
      color: white;
      transition: all 0.2s ease-in-out;
      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }

    input {
      width: 270px;
      height: 34px;
      padding: 0 5px;
      border: 1px solid #889499;
      border-radius: 2px;
      transition: all 0.2s ease-in-out;
      margin: 10px 20px 20px 0;
      &:focus {
        outline: none;
        border: 2px solid #165c7d;
      }
    }
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    align-items: center;
    justify-content: center;
    h2,
    p {
      text-align: justify;
    }
    .form-container {
      width: 100%;
      align-items: center;
      justify-content: center;

      .form-elements {
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      input {
        width: 100%;
        margin: 10px 0;
      }

      .mat-mdc-progress-spinner {
        color: white;
      }
    }
  }
}
