.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 100%;
  height: 12.5%;
  box-sizing: border-box;

  .titles {
    h1 {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 5px;
    }
    p {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #787878;
      margin: 0;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 25%;

    .badge {
      font-size: 24px;
      height: 24px;
      width: 24px;
    }

    .viacredi {
      background: #ffffff;
      border: 1px solid #125d79;
      border-radius: 15px;
      color: #125d79;
      font-weight: 500;
      width: 109px;
      height: 32px;
      margin: 0 10px;
    }

    .avatar {
      font-size: 40px;
      height: 40px;
      width: 40px;
    }
  }

  @media screen and (max-width: 750px) {
    .titles {
      display: none;
    }

    .buttons {
      width: 100%;
    }
  }
}
